ffmpeg-python
Flask
Flask-RESTful
future
gunicorn
itsdangerous
Jinja2
joblib
librosa
llvmlite
MarkupSafe
marshmallow
numba
numpy
pycparser
pydub
pytz
resampy
scikit-learn
scipy
SoundFile
Werkzeug
wincertstore

